//Created by jeff on 2017/4/6.
link(href="images/favicon.ico" rel="shortcut icon")
link(href="css/layout.css" rel="stylesheet" type="text/css")
link(href="css/jeff-button.css" rel="stylesheet" type="text/css")
link(href="css/jeff-slider.css" rel="stylesheet" type="text/css")